<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsp.user.mapper.ResourceMapper">

	<select id="findAllResources" resultType="com.dsp.model.Resource">
		select * from resources where type = 1;
	</select>
	
	<select id="findAllResourcesAndMenu"  resultType="com.dsp.model.Resource">
		select * from resources where type = 2 ;
	</select>
	
	<select id="findAllResourcesAndMenuAndItem"  resultType="com.dsp.model.Resource">
		select * from resources where type = 3 ;
	</select>

	<select id="findUserResourcesById" parameterType="java.lang.Integer" resultType="com.dsp.model.Resource">
		select res.* from users u, roles r, resources res, users_roles ur, roles_resources rr where u.id=#{id}
		and u.id=ur.userId and r.id=ur.roleId and r.Id=rr.roleId and res.id=rr.resourceId
	</select>

</mapper>
