<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dsp.user.mapper.RoleMapper">



	<resultMap type="com.dsp.model.Permission" id="permissionMap">
		<id column="pId" property="pId" />
		<result column="pName" property="pName" />
		<result column="pRemark" property="pRemark"/>
		<result column="pAvailable" property="pAvailable" />
	</resultMap>

	<resultMap type="com.dsp.model.Role" id="roleMap">
		<id column="rId" property="rId" />
		<result column="rName" property="rName" />
		<result column="rRemark" property="rRemark" />
		<result column="rAvailable" property="rAvailable" />
		<collection property="pList" ofType="com.dsp.model.Permission" resultMap="permissionMap" />
	</resultMap>

	<select id="findAllRoles" resultMap="roleMap">
		select r.* , cc.* from roles r left join
		(select rp.role_id , p.* from permissions p left join roles_permissions rp on rp.permission_id = p.pId) as cc
		on cc.role_id = r.rId
	</select>


	<select id="findUserRolesById" parameterType="java.lang.Integer" resultType="com.dsp.model.Role">
		select r.* from users u, roles r,users_roles ur where u.id=#{id} and u.id=ur.user_id and r.rId=ur.role_id
	</select>


</mapper>
